# Byte-compiled / optimized / runnable
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
docs/
build/
develop-package/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.local
