# Byte-compiled / optimized / runnable
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-package/
dist/
eggs/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Project specific
storage/
sample.pdf
*.sqlite

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.local
